@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap");
@import "../../styles/breakpoints.scss";

.horizontalCard {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1010%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(82%2c 170%2c 74%2c 1)'%3e%3c/rect%3e%3cpath d='M658.38-44.68C548.29-44.5 454.58 15.72 222.88 20.61-8.81 25.5-87.14 263.74-212.61 272.61' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1283.43-15.73C1125.81 15.64 1063.83 413.27 810.36 419.54 556.89 425.81 573.83 349.54 337.29 349.54 100.76 349.54-16.22 419.35-135.78 419.54' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M919.34-52.35C777.29-51.53 658.74 69.93 365.67 75.38 72.61 80.83-35.45 326.78-187.99 332.98' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1015.25-83.22C871.68-76.31 778.6 164.34 500.3 172.51 222.01 180.68 120.76 338.4-14.64 340.51' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M461-47.38C356.69 10.18 441.67 334.82 217 361.99-7.68 389.16-145.18 484.24-271.01 485.19' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1010'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  height: 100%;
  border-radius: 30px;
  padding: 10px;
  margin-top: 30px;
  direction: initial;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 300ms ease-in-out;
  -webkit-transition: box-shadow 300ms ease-in-out;
  -moz-transition: box-shadow 300ms ease-in-out;
  -ms-transition: box-shadow 300ms ease-in-out;
  -o-transition: box-shadow 300ms ease-in-out;
  @include md{
    min-height: 320px;
  }

  &:hover {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    .imageContainer,
    .bgImage,
    .textContainer {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
    .textContainer {
      z-index: 10;
    }
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: auto;
    margin-right: auto;
    padding-left: 40px;
    justify-content: center;
    transition: all 0.4s ease-in-out;

    

    h3 {
      margin-top: 0px;
      z-index: 10;
      text-shadow: 2px 2px #00000022;
       font-size: 16px;
      @include md{
        font-size: 30px;
      }
    }

    .description {
      font-size: 18px;
      font-weight: 500;
      color: #fff;
      display: none;
      @include md{
        display: block;
      }

    }
  }

  .imageContainer {
    position: relative;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    transition: all 0.4s ease-in-out;

    .image {
      position: absolute;
    top: -80px;
    width: 130%;
     @include md{
      top: -180px;
      width: 80%;
     }
    }
  }

  .bgImage {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s ease-in-out;
    z-index: 1;
  }
}
