@import "../../styles/breakpoints.scss";

.container__Footer{
    padding: 20px;
    background: #52aa4a;
    border-start-end-radius: 50px;
    border-start-start-radius: 50px;
    color: #fff;
    box-shadow: 0px 0px 8px 0px #00000080;

    @include md{
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    padding: 20px 100px;
    }

    .text{
        max-width: 300px;
    }
    .list{
        list-style: none;
        margin: 0;
        color: #fff;
        padding: 0;
        font-weight: 500;
        cursor: pointer;
    }

}